<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>
        <% title %>
        帖子查看</title>

    <% include ../common/link.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/simditor.css"/>
</head>
<body>

<% include ../common/header %>
<div class="layui-hide-xs">
    <% include ../common/column.ejs %>
</div>

<div class="layui-container">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md8 content detail">
            <div class="fly-panel detail-box">
                <h1><%= data.postname %></h1>
                <div class="fly-detail-info">
                    <!-- <span class="layui-badge">审核中</span> -->
                    <span class="layui-badge layui-bg-green fly-detail-column"><%= data.topic?data.topic:'HZNU' %></span>

                    <% if(data.type && data.type !== "普通") { %>
                    <!-- <span class="layui-badge layui-bg-black">置顶</span> -->
                    <span class="layui-badge layui-bg-red">精帖</span>
                    <% } %>
                    <!-- <div class="fly-admin-box" data-id="123">
                        <span class="layui-btn layui-btn-xs jie-admin" type="del">删除</span>
                        <span class="layui-btn layui-btn-xs jie-admin" type="set" field="stick" rank="1">置顶</span>
                        <span class="layui-btn layui-btn-xs jie-admin" type="set" field="stick" rank="0"
                              style="background-color:#ccc;">取消置顶</span>
                        <span class="layui-btn layui-btn-xs jie-admin" type="set" field="status" rank="1">加精</span>
                        <span class="layui-btn layui-btn-xs jie-admin" type="set" field="status" rank="0"
                              style="background-color:#ccc;">取消加精</span>
                    </div> -->
                    <span class="fly-list-nums">
            <a href="#comment"><i class="iconfont" title="回答">&#xe60c;</i> <%= Number.parseInt(data.reply) %></a>
            <i class="iconfont" title="人气">&#xe60b;</i> <%= Number.parseInt(data.visits) %>
          </span>
                </div>
                <div class="detail-about">
                    <a class="fly-avatar" href="/user/<%= data.uid %>">
                        <img src="https://picsum.photos/200/200/?image=<%= new Date().getSeconds() + 30 %>" alt="贤心">
                    </a>
                    <div class="fly-detail-user">
                        <a href="/user/<%= data.uid %>" class="fly-link">
                            <cite><%= data.username %></cite>
                            <!-- <i class="layui-badge fly-badge-vip">VIP1</i> -->
                        </a>
                        <span><%= data.publishtime %></span>
                    </div>
                    <!-- <div class="detail-hits" id="LAY_jieAdmin" data-id="123">
                        <span class="layui-btn layui-btn-xs jie-admin" type="edit"><a href="">编辑此贴</a></span>
                    </div> -->
                </div>
                <div class="detail-body photos">
                    <%- data.pcontent.replace(/\\n/g, '<br>') %>
                </div>
            </div>


            <div class="fly-panel detail-box" id="flyReply">
                <fieldset class="layui-elem-field layui-field-title" style="text-align: center;">
                    <legend>回帖</legend>
                </fieldset>

                <ul class="jieda" id="jieda">

                    <% reply && reply.forEach(function (item, index) { %>
                    <li>
                        <div class="detail-about detail-about-reply">
                            <a class="fly-avatar" href="">
                                <img src="https://picsum.photos/200/200/?random">
                            </a>
                            <div class="fly-detail-user">
                                <a href="" class="fly-link">
                                    <cite><%= item.username %></cite>
                                </a>
                            </div>
                            <div class="detail-hits">
                                <span><%= item.atime %></span>
                            </div>
                        </div>
                        <div class="detail-body jieda-body photos">
                            <%- item.content.replace(/\\n/g, '<br>') %>
                        </div>
                        <div class="jieda-reply"><span class="jieda-zan" type="zan"><i
                                        class="iconfont icon-zan"></i><em><%= item.visits%></em></span>
                            <span type="reply"><i class="iconfont icon-svgmoban53"></i>回复</span>
                            <!--<div class="jieda-admin">-->
                            <!--<span type="edit">编辑</span>-->
                            <!--<span type="del">删除</span>-->
                            <!--<span class="jieda-accept" type="accept">采纳</span>-->
                            <!--</div>-->
                        </div>
                    </li>
                    <% }) %>
                </ul>

                <% if(session.uid) { %>
                <div class="layui-form layui-form-pane">
                    <form>
                        <div class="layui-form-item layui-form-text">
                            <a name="comment"></a>
                            <div class="layui-input-block">
                                <textarea id="content" name="content" required lay-verify="required"
                                          placeholder="请输入内容" class="layui-textarea fly-editor"></textarea>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <input type="hidden" name="jid" value="id">
                            <input type="hidden" name="daPages" value="id">
                            <button class="layui-btn" id="submit">提交回复</button>
                        </div>
                    </form>
                </div>
                <% } else { %>
                    <div class="layui-form-item">
                        <button id="submit" type="button" class="layui-btn" onclick="location='/user/signin'">登陆后才能回复</button>
                    </div>
                <% } %>
            </div>
        </div>


        <div class="layui-col-md4">
            <% include ../common/list-hot %>
            <% include ../common/ad %>
        </div>
    </div>
</div>

<% include ../common/footer %>
<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/module.js"></script>
<script type="text/javascript" src="/javascripts/hotkeys.js"></script>
<script type="text/javascript" src="/javascripts/uploader.js"></script>
<script type="text/javascript" src="/javascripts/simditor.js"></script>
<script>
    var content = new Simditor({
        textarea: $('#content'),
        pasteImage: true
    });
    $("#submit").click(function () {
        let content = $("#content").val();
        let data = {
            content: content
        }
        $.post('/api/topic/<%= data.pid %>', data, function (res) {
            // console.log(res);
            if (res.status === 'success') {
                console.log('发表成功');
                location.reload();
            }
            else 
                console.log('发表失败');
        });
        return false;
    });
</script>

</body>
</html>
