<div class="fly-home fly-panel"
     style="background: no-repeat center url(https://picsum.photos/1170/365/?image=<%= new Date().getSeconds() %>);">
    <% if(!data1[0] || !data1[0].pic){%>
        <img id="perAvatar" src="<%= session.pic %>" alt="username">
    <% }%>
    <h1>
        <span id="psun"><%= session.username %></span>
        <% if(session.sex == 'M'){ %>
            <i class="iconfont icon-nan"></i>
        <% } else{ %>
            <i class="iconfont icon-nv"></i>
        <% } %>
        <!--<span style="color:#c00;">（管理员）</span>-->
    </h1>

    <p class="fly-home-info">
        <%
        function p(s) {
            return s < 10 ? '0' + s: s;//时间补零
        }
        var date = new Date(session.utime);
        if(date) {
            date_value1=date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate() + ' ' + p(date.getHours()) + ':' + p(date.getMinutes()) + ':' + p(date.getSeconds());
        }else{
            date_value1 = '未知'
        }

        %>
        <i class="iconfont icon-shijian"></i><span><%= date_value1%> 加入</span>
        <i class="iconfont icon-chengshi"></i><span id="pscf">来自 <%= session.province %> <%= session.city %></span>
    </p>

    <% if(session.sign){ %>
        <p class="fly-home-sign" id="psSign">
            签名： <%= session.sign %>
        </p>
    <% } else { %>
        <p class="fly-home-sign">
            这个人很懒，没有留下任何签名
        </p>
    <% } %>
    <!--<div class="fly-sns" data-user="{{ encodeURIComponent(userinfo) }}">-->
    <!--<a href="" class="layui-btn layui-btn-primary fly-imActive" data-type="addFriend">加为好友</a>-->
    <!--<a href="" class="layui-btn layui-btn-normal fly-imActive" data-type="chat">发起会话</a>-->
    <!--</div>-->

</div>